/* 기본 스타일 설정 */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
}
.wrapper {
    display: flex;
    width: 100%;
}
.sidebar {
    background-image: url('../../static/images/side.png');
    background-size: cover;
    width: 300px;
    min-height: 100vh;
}
.container {
    width: 1080px;
    margin: 0 15px;
    padding: 70px 0;
    flex: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img { /* 로고 */
    width: 274px;
    height: 39.36px;
}
.nav-links {
    display: flex;
    gap: 20px; /* 간격 조절 */
    margin-right: 20px;
}

.nav-links a { /* 하이퍼 링크 */
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative; /* ::after 가상 요소를 배치하기 위한 상대 위치 설정 */
}

.nav-links a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2.6px;
    background-color: #4EDD3A;
    position: absolute;
    bottom: -6px; /* 텍스트 아래에 배치 */
    left: 0;
    transition: opacity 0.3s;
    opacity: 1; /* 기본 상태에서 보이도록 설정 */
}

.search-container {
    /* 검색 컨테이너 */
    width: 446px;
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    padding-left: 5px;
    border: none;
    border-radius: 10px;
  }
  
  .search-container img {
    width: 20px;
    height: 20px;
    margin: 8px;
  }
  
  .search-container form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  #search {
    /* 검색창 */
    width: 100%;
    height: 25px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;
    padding: 5px; /* padding을 추가하여 placeholder 텍스트가 잘 보이게 합니다 */
    color: black; /* input 텍스트 색상 */
  }
  
  #search::placeholder {
    color: #e2dbdb !important; /* placeholder 텍스트 색상 */
    opacity: 1;
  }
  
  #enter {
    display: none;
  }

.main-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.upload-section {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 20px;
}

.upload-section label {
    margin-bottom: 20px;
}

.upload-label {
    font-weight: bold;
    font-size: 20px;
}

/* 기본 파일 입력 필드 숨기기 */
input[type="file"] {
    display: none;
}

/* 커스텀 파일 입력 버튼 스타일 */
.custom-file-upload {
    display: inline-block;
    padding: 7px 20px;
    margin-left: 13px;
    cursor: pointer;
    background-color: #D9D9D9;
    border-radius: 12px;
    border: none;
    color: black;
    text-align: center;
    box-shadow: 0 2px 1.5px rgba(0, 0, 0, 0.4);
}

.custom-file-upload:hover {
    background-color: #B0B0B0;
}

/* 업로드한 파일명 표시 */
.file-name {
    margin-left: 10px;
    font-weight: 400;
}

.upload-item {
    align-items: center;
}

.upload-item label {
    margin-right: 10px;
}

/* 영화 상세 정보 */
.form-section {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 17px;
}

/* 영화 제목 부분 스타일 */
.title-label {
    flex: 0 0 75px;
    font-weight: bold;
    font-size: 20px !important;
}

.title-input {
    width: 308px;
    background-color: #FFFFFF;
    border: 2.5px solid #D9D9D9;
    padding: 10px;
    border-radius: 10px;
}

/* 출연진, 스탭 부분 스타일 */
.cast-label, .staff-label {
    flex: 0 0 45px;
    font-weight: bold;
    font-size: 17px;
}

.cast-input {
    width: 130px;
    background-color: #FFFFFF;
    border: 2.5px solid #D9D9D9;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.staff-input {
    width: 130px;
    background-color: #FFFFFF;
    border: 2.5px solid #D9D9D9;
    padding: 10px;
    border-radius: 10px;
    margin-left: -13px;
}

.cast-input:last-child, .staff-input:last-child {
    margin-right: 0;
}

/* 키워드 부분 스타일 */
.keyword-label {
    flex: 0 0 45px !important;
    font-weight: bold;
    font-size: 17px;
}

.keyword-input {
    width: 338px;
    background-color: #FFFFFF;
    border: 2.5px solid #D9D9D9;
    padding: 10px;
    border-radius: 10px;
}

.synopsis-section textarea {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    background-color: #FFFFFF;
    border: 2.5px solid #D9D9D9;
    padding: 10px;
    border-radius: 10px;
}

.synopsis-section label {
    font-weight: bold;
}

/* 저장 버튼 스타일 */
.save-button-container {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽 끝으로 정렬 */
    margin-top: 20px;
}

.save-button {
    padding: 10px 20px;
    background-color: #4EDD3A;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.save-button:hover {
    background-color: #3CB031;
}

/* 스크롤바 숨기기 */
body::-webkit-scrollbar {
    display: none;
  }