/* 기본 스타일 설정 */
body {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  width: 100%;
}
.sidebar {
  background-image: url("../../static/images/side.png");
  background-size: cover;
  width: 300px;
  min-height: 100vh;
}
.container {
  max-width: 1080px;
  margin: 0 15px; /* 전체 컨테이너 좌우 여백*/
  padding: 70px 0;
  flex: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  /* 로고 */
  width: 274px;
  height: 39.36px;
}
.nav-links {
  display: flex;
  gap: 20px; /* 링크 사이의 간격 조절 */
  margin-right: 20px;
}
.nav-links a {
  /* 하이퍼 링크 */
  text-decoration: none;
  color: black;
  font-weight: 600;
  position: relative; /* ::after 가상 요소를 배치하기 위한 상대 위치 설정 */
}
.nav-links a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2.6px;
  background-color: #4edd3a;
  position: absolute;
  bottom: -6px; /* 텍스트 아래에 배치 */
  left: 0;
  transition: opacity 0.3s;
  opacity: 1; /* 기본 상태에서 보이도록 설정 */
}
.search-container {
  /* 검색 컨테이너 */
  width: 446px;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  padding-left: 5px;
  border: none;
  border-radius: 10px;
}

.search-container img {
  width: 20px;
  height: 20px;
  margin: 8px;
}

.search-container form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#search {
  /* 검색창 */
  width: 100%;
  height: 25px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
  padding: 5px; /* padding을 추가하여 placeholder 텍스트가 잘 보이게 합니다 */
  color: black; /* input 텍스트 색상 */
}

#search::placeholder {
  color: #e2dbdb !important; /* placeholder 텍스트 색상 */
  opacity: 1;
}

#enter {
  display: none;
}
.main-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

/*main*/
.contents {
  padding-top: 30px;
}
/* ## 프로필*/
.myProfile {
  margin-left: 38%;
}

#myPhoto {
  float: left;
  width: 125px;
  height: 125px;
  border-radius: 70%;
  overflow: hidden;
  background-color: green;
}
#myPhoto img {
  width: 100%;
  height: 100%;
}
#commit {
  position: relative;
  left: -122px;
  top: 82px;
  background-image: url("../../static/icons/commit.png");
  background-repeat: no-repeat;
  border-radius: 70%;
  width: 35px;
  height: 35px;
  outline: 0;
  border: none;
}
#add {
  position: relative;
  left: -78px;
  top: 96px;
  padding: 0;
  margin: 0;
}
#nickname {
  width: 200px;
  margin-bottom: 0;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: -20px; /* 위치를 위로 올리기 위해 top 값을 음수로 설정 */
}
#nickname h1 {
  width: 100%;
  padding: 0; /* 수정된 부분 */
  margin: 0;
  font-size: 3ch;
}
/*내 포트폴리오 보기 - 수정*/
#modify {
  position: relative;
  left: 0;
  top: -15px; /* 위치를 위로 올리기 위해 top 값을 음수로 설정 */
  margin-left: 5px;
  width: 200px;
  height: auto;
}

/*구분선*/
.line {
  margin-top: 20px;
  margin-left: 8%;
  width: 85%;
}
/*나의 기록*/
.row {
  margin-left: 60px;
}
.row h3 {
  color: black;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 0;
  float: left;
}
#allR {
  margin: 10px auto 3px 64%;
  width: 100px;
}
#allL {
  margin: 10px auto 3px 63%; /*나의 기록<-> 찜한 콘텐츠 (1글자 더 많기 때문에 margin-left가 달라짐)*/
  width: 100px;
}
.posterAndName {
  margin: 0 5px;
  text-decoration-line: none;
  color: black;
  font-weight: 500;
}
.poster {
  margin-top: 20px;
  width: 270px;
  height: 152px;
  transition: transform 450ms;
  border-radius: 15px;
  overflow: hidden;
  background-color: gray;
}
.poster img {
  width: 100%;
  height: 100%;
}
.posterAndName figcaption {
  margin-top: 5px;
  margin-left: 5px;
}
.row_posters {
  display: flex;
  padding: 20px;
  padding-top: 0px;
  margin-left: 25px;
}
.posterAndName:hover {
  transform: scale(1.01);
}
