/* 기본 스타일 설정 */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
}
.wrapper {
    display: flex;
    width: 100%;
}
.sidebar {
    background-image: url('../../static/images/side.png');
    background-size: cover;
    width: 300px;
    min-height: 100vh;
}
.container {
    width: 1080px;
    margin: 0 15px;
    padding: 70px 0;
    flex: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img { /* 로고 */
    width: 274px;
    height: 39.36px;
}
.nav-links {
    display: flex;
    gap: 20px; /* 링크 사이의 간격 조절 */
    margin-right: 20px;
}
.nav-links a { /* 하이퍼 링크 */
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative; /* ::after 가상 요소를 배치하기 위한 상대 위치 설정 */
}
.nav-links a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2.6px;
    background-color: #4EDD3A;
    position: absolute;
    bottom: -6px; /* 텍스트 아래에 배치 */
    left: 0;
    transition: opacity 0.3s;
    opacity: 1; /* 기본 상태에서 보이도록 설정 */
}
.search-container {
    /* 검색 컨테이너 */
    width: 446px;
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    padding-left: 5px;
    border: none;
    border-radius: 10px;
  }
  
  .search-container img {
    width: 20px;
    height: 20px;
    margin: 8px;
  }
  
  .search-container form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  #search {
    /* 검색창 */
    width: 100%;
    height: 25px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;
    padding: 5px; /* padding을 추가하여 placeholder 텍스트가 잘 보이게 합니다 */
    color: black; /* input 텍스트 색상 */
  }
  
  #search::placeholder {
    color: #e2dbdb !important; /* placeholder 텍스트 색상 */
    opacity: 1;
  }
  
  #enter {
    display: none;
  }
.main-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}


.section {
    margin-bottom: 40px;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

/* 작품 */
.grid, .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 한 줄에 4개씩 */
    gap: 20px; /* 각 항목 사이의 간격 */
}


.grid-item .title {
    font-size: 18px;
    font-weight: 600;
}

.grid-item a:active {
    color : black;
}
.grid-item a:link {
    color : black;
    text-decoration: none;
}
.grid-item a:visited {
    color : black;
    text-decoration: none;
}

/* 포트폴리오 */
.portfolio-item {
    background-color: white;
    border: 3px solid #40AA31;
    border-radius: 25px;
    padding: 20px;
    text-align: center; /* 자식 요소 가운데 정렬 */
}

.portfolio-item img {
    height: 115px;
    width: 115px;
    border-radius: 60px;
}

.portfolio-item .description {
    font-size: 14px;
}

.portfolio-item .name {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.portfolio-item .roles {
    margin: 5px 0;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.portfolio-item .movies p {
    margin: 5px 0;
    font-size: 14px;
    text-align: left;
}

.portfolio-item a:active {
    color : black;
}
.portfolio-item a:link {
    color : black;
    text-decoration: none;
}
.portfolio-item a:visited {
    color : black;
    text-decoration: none;
}

.line-separator {
    display: block;
    width: 100%;
    margin: 50px 0; /* 위아래 여백 */
}

/* 스크롤바 숨기기 */
body::-webkit-scrollbar {
    display: none;
  }