@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    background-image:url('../images/loginback.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Pretendard-Regular';
}

.header {
    position: absolute;
    top: 0;
    left: 0%;
    height: 210px;
    width: 100%;
    height: 200px;
}

.logofield img {
    width:400px;
    height: auto; /* 자동으로 비율을 유지하여 높이를 설정 */
}

.logofield img:hover{
    cursor: pointer;
}

.logofield{
    width: 100%;
    display: flex;
    align-items: center;
    position:absolute;
    left: 5%;
    top: 30%
}

.header h1 {
    font-size: 25px;
    position: absolute;
    left: 430px;
    font-family: 'Pretendard-ExtraBold';
}

.film img{
   position: absolute;
   top: 70%;
   left: 0%;
   width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 120px;
}

.main h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Pretendard-ExtraBold';
    align-items: center;
    margin-top: 160px;
}

.enterfield h4 {
    font-size: 15px;
    font-family: 'Pretendard-ExtraBold';
}

.enterfield h6 {
    font-family:'Pretendard-Regular';
    font-size: 10px;
    margin-top: -10px;
}

#nickname {
    width: 420px;
    height: 40px;
    border-radius: 20px;
    border: #979797;
    padding: 7px;
    font-family:'Pretendard-Regular';
}


#username {
    width: 420px;
    height: 40px;
    border-radius: 20px;
    border: #979797;
    padding: 7px;
    font-family:'Pretendard-Regular';
}

#email {
    width: 420px;
    height: 40px;
    border-radius: 20px;
    border: #979797;
    padding: 7px;
    font-family:'Pretendard-Regular';
}

#password1 {
    width: 420px;
    height: 40px;
    border-radius: 20px;
    border: #979797;
    margin-bottom: 20px;
    padding: 9px;
    font-family:'Pretendard-Regular';
}

#password2 {
    width: 420px;
    height: 40px;
    border-radius: 20px;
    border: #979797;
    margin-bottom: 20px;
    padding: 9px;
    font-family:'Pretendard-Regular';
}

.changebtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#submit {
    width: 280px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: #C8FFC1;
    font-family: 'Pretendard-ExtraBold';
    font-size: 15px;
    box-shadow: 0px 2px 2px;
}

#submit:hover{
    cursor: pointer;
    background-color: rgb(138, 255, 75)

}

#submit:active{
    background-color: rgba(138, 255, 75, 0.232)
}

.pwfield {
    display: flex;
    flex-direction: column;
}