
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video_detail</title>
</head>
<body>
    <!-- nav bar -->
    <a href="{% url 'accounts:comming_soon' %}">DANJANG</a>
    검색창
    <a href="{% url 'portfolios:portfolio_list' %}">포트폴리오</a>
    <a href="{% url 'accounts:mypage' %}">내 정보</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <hr>
    <!-- 구매 안한 상태에서 누르면 팝업창 뜨도록 구현해야함 -->
    <a href="#">
        <video width="320" height="240" controls>
            <source src="{{ video.video.url }}" type="video/mp4">
        </video>
    </a>
    <br>
    <b>{{ video.title }}</b>
    <br>
    <br>
    {% if request.user in video.like.all %}
    <a href="{% url 'videos:like' video.id %}">찜 취소하기</a>
    {% else %}
    <a href="{% url 'videos:like' video.id %}">찜하기</a>
    {% endif %}
    <br>
    <br>
    조회수: {{ video.views }}
    <br>
    출연진: {{ video.cast }}
    <br>
    스탭: {{ video.staff }}
    <br>
    키워드: {{ video.keyword }}
    <br>
    시놉시스: {{ video.synopsis }}
</body>
</html>