
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video_list</title>
</head>
<body>
    <!-- nav bar -->
    <a href="{% url 'accounts:comming_soon' %}">DANJANG</a>
    검색창
    
    
    <a href="{% url 'portfolios:portfolio_list' %}">포트폴리오</a>
    <a href="{% url 'accounts:mypage' %}">내 정보</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <hr>
    <!-- 아직 구현못함 
    <b>오늘의 추천 작품</b><br>
    {% for video in videos %}
    <a href="{% url 'videos:video_detail' video.id %}">
        <video width="320" height="240">
            <source src="{{ video.video.url }}" type="video/mp4">
        </video>
        {{ video.title }}
    </a>
    {%endfor%} 
    <hr>-->
    <b>랭킹</b><br>
    {% with sorted_videos=videos|dictsortreversed:"views"|slice:":10" %}
        {% for video in sorted_videos %}
        <a href="{% url 'videos:video_detail' video.id %}">
            <video width="320" height="240">
                <source src="{{ video.video.url }}" type="video/mp4">
            </video>
            {{ video.title }}
        </a>
        {% endfor %}
    {% endwith %}
    <hr>
    <!-- 렉이 너무 심해서 주석처리...
    <b>신작</b><br>
    {% for video in videos|dictsortreversed:"created_at"|slice:":10" %}
    <a href="{% url 'videos:video_detail' video.id %}">
        <video width="320" height="240">
            <source src="{{ video.video.url }}" type="video/mp4">
        </video>
        {{ video.title }}
    </a>
    {%endfor%}
    -->
</body>
</html>