<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'accounts:create_myportfolio' %}" enctype="multipart/form-data">
        {% csrf_token %}
        이름: <input type="text" name="name"><br>
        역할: <select name="role">
            {% for role in roles %}
            <option value="{{ role.id }}">{{ role.name }}</option>
            {% endfor %}
        </select><br>
        이미지 - <input type="file" name="profile_photo"><br>
        이메일: <input type="text" name="email"><br>
        한 줄 소개: <input type="text" name="one_line"><br>
        소개 글: <input type="text" name="intro"><br>
        <input type="submit" value="포트폴리오 등록">   
    </form>
    <hr>
<!--
    경력사항<br>
    <table>
        <thead>
            <tr>
                <th>경력</th>
                <th>역할</th>
                <th>연도</th>
            </tr>
        </thead>
        <tbody>
            {% csrf_token %}
            {% for career in portfolio.careers.all %}
            <tr>
                <td>{{ career.career_title }}</td>
                <td>{{ career.career_role }}</td>
                <td>{{ career.career_year }}</td>
                <td>
                    <a href="#">빼기</a>
                </td>
            </tr>
            {% endfor %}
            <form method="POST" action="#">
                {% csrf_token %}
                <tr>
                    <td><input type="text" name="career_title"></td>
                    <td><input type="text" name="career_role"></td>
                    <td><input type="text" name="career_year"></td>
                </tr>
                <input type="submit" value="추가">
            </form>
        </tbody>
    </table>
-->
</body>
</html>