<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mylike.css' %}" />

</head>
<body>
    <!-- nav bar -->
    <div class="wrapper">
        <div class="sidebar"></div>
        <div class="container">
            <div class="header">
                <a href="{% url 'videos:video_list' %}">
                    <img src="../../static/images/logo.png" alt="로고">                    </a>
                <!--search 검색-->
                <div class="search-container">
                    <form action="{% url 'videos:search' %}">
                        <img src="{% static 'icons/search.png' %}">
                        <input id="search" name="data" size="20"placeholder="검색어를 입력해주세요."></input>
                        <input id="enter" type="submit" value="검색"  >                        </form>
                </div>
                <!--nav-links-->
                <div class="nav-links">
                    <a href="{% url 'portfolios:portfolio_list' %}">포트폴리오</a>
                    <a href="{% url 'accounts:mypage' %}">내 정보</a>
                    <a href="{% url 'accounts:logout' %}">로그아웃</a>                    </div>
            </div>
    <!-- 본문 -->
    <main>
        <div class="contents">
            <!--프로필-->
            <section class="myProfile">
            <div>
                <form method="POST" action="{% url 'accounts:mypage_image_update' user.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if user.mypage_image %}
                    <div id="myPhoto">
                        <img width="192" height="192" src="{{ user.mypage_image.url }}">                        </div>
                    {% endif %}
                    <!--[체크]버튼-->
                    <input id="commit" type="submit" value="">                      
                    <!--[+]버튼 클릭 시 파일 선택 실행 -->
                    <input type="file" name="file1" style="display: none" />
                    <img
                    id="add"
                    src="../static/icons/add.png"
                    onclick="document.all.file1.click()"
                    ;
                    />
                </form>
                <!--닉네임-->
                <div id="nickname">
                    <h1>{{ request.user.nickname }}</h1>
                </div>
                <!-- 포트폴리오 없으면 생성, 있으면 수정. -->
                {% if myportfolio.id %}
                <a href="{% url 'accounts:update_myportfolio' %}"><img id="modify" src="../../static/images/myPotpolio.png" /></a>
                {% else %}
                <a href="{% url 'accounts:create_myportfolio' %}"><img id="modify" src="../../static/images/myPotpolio.png" /></a>
                {% endif %}
            </div>
            </section>
            <!--구분선-->
            <img class="line" src="../../static/images/line.png" />
            <!--나의 찜한 콘텐츠-->
            <section class="row">
                <h3>나의 찜한 콘텐츠</h3>
                <div class="row_posters">
                
                {% if videos %}

                    {% for video in videos %}
                    <!--나의 기록 영화 + 제목 한 세트-->
                    <a class="posterAndName" href="{% url 'videos:video_detail' video.id %}">
                        <div class="poster">
                            <video>
                                <source src="{{ video.video.url }}" type="video/mp4">
                            </video>
                        </div>
                        <figcaption>{{ video.title }}</figcaption>
                    </a>
                    {% endfor %}

                    {% else %}
                    <a class="posterAndName">                
                        <figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;시청한 콘텐츠 없음</figcaption>
                    </a>
                {% endif %}
                </div>
              </section>
            </div>
          </main>
        </div>
    <div class="sidebar"></div>
    </div>
</body>
</html>