<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- nav bar -->
    <a href="{% url 'videos:video_list' %}">DANJANG</a>
    <form action="{% url 'videos:search' %}">
        <input name="data" size="20" value=""></input>
        <input type="submit" value="검색" >
    </form>
    <a href="{% url 'portfolios:portfolio_list' %}">포트폴리오</a>
    <a href="{% url 'accounts:mypage' %}">내 정보</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <hr>
    <!-- 본문 -->
    <h1>나의 시청 기록</h1>
    {% if watch_videos %}
    
    {% for watch_video in watch_videos %}
    <a href="{% url 'videos:video_detail' watch_video.id %}">
        <video width="320" height="240">
            <source src="{{ watch_video.video.url }}" type="video/mp4">
        </video>
        {{ watch_video.title }}
        </a>
    {% endfor %}
    {% else %}
    시청한 콘텐츠 없음
    {% endif %}
</body>
</html>