
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- nav bar -->
    <a href="{% url 'accounts:comming_soon' %}">DANJANG</a>
    검색창
    <a href="{% url 'portfolios:portfolio_list' %}">포트폴리오</a>
    <a href="{% url 'accounts:mypage' %}">내 정보</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <hr>
    이름: {{ portfolio.name }}<br>
    전문 분야: 
        {% for role in portfolio.role.all %}
        {{ role.name }}
        {% endfor %}<br>
        {% if portfolio.profile_photo %}
        프로필 사진: <img width="320" height="240" src="{{ portfolio.profile_photo.url }}"><br><br>
        {% endif %}
        한줄 소개: {{ portfolio.one_line }}<br>

        이메일: {{ portfolio.email }}<br>
        <br>
        경력<br>
        <table>
            <thead>
                <tr>
                    <th>작품명</th>
                    <th>역할</th>
                    <th>연도</th>
                </tr>
            </thead>
            <tbody>
                {% csrf_token %}
                {% for career in portfolio.careers.all %}
                <tr>
                    <td>{{ career.career_title }}</td>
                    <td>{{ career.career_role }}</td>
                    <td>{{ career.career_year }}</td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <br>
    소개 글: {{ portfolio.intro }}<br>
    <br>
    {% if portfolio.photos.all %}
    <b>사진</b>
    <br>
        {% for photo in portfolio.photos.all %}
            <img width="320" height="320" src="{{ photo.photo.url }}">
        {% endfor %} 
    {% endif %}
    <br>
    <br>
    {% if portfolio.videos.all %}
    <b>동영상</b><br>
        {% for video in portfolio.videos.all %}
        <a href="{% url 'videos:video_detail' video.id %}">
            <video width="320" height="240">
                <source src="{{ video.video.url }}" type="video/mp4">
            </video>
        </a>
        {% endfor %}
    {% endif %}
    <hr>

    
</body>
</html>