<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포트폴리오 화면</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar"></div>
        <div class="container">
            <div class="header">
                <a href="{% url 'videos:video_list' %}">
                    <img src="{% static 'images/logo_green.png' %}" alt="로고">
                </a>
                <div class="search-container">
                    <form action="{% url 'videos:search' %}" method="get">
                        <input type="image" src="{% static 'icons/search.png' %}" alt="검색">
                        <input type="text" name="data" placeholder="검색어를 입력해 주세요." size="20">
                    </form>                
                </div>
                <div class="nav-links">
                    <a href="{% url 'portfolios:portfolio_list' %}">포트폴리오</a>
                    <a href="{% url 'accounts:mypage' %}">내 정보</a>
                    <a href="{% url 'accounts:logout' %}">로그아웃</a>
                </div>
            </div>
            <div class="main-content">
                <nav class
                ="menu">
                    <h2>MENU</h2>
                    <hr>
                    <h3>전문 분야</h3>
                    <ul class="area">
                        {% for role in roles %}
                            <li><a href="?roles={{ role.id }}">{{ role.name }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                <div class="list">
                    {% for portfolio in portfolios %}
                    <div class="portfolio-area">
                        <div class="profile">
                            {% if portfolio.profile_photo %}
                                <a href="{% url 'portfolios:portfolio_detail' portfolio.id %}">
                                    <img class="photo" width="300" height="300" src="{{ portfolio.profile_photo.url }}" alt="프로필 사진">
                                </a>
                                {% else %}
                                <img class="photo" width="300" height="300" src="{% static 'images/profile.png' %}"  alt="프로필 사진">
                            {% endif %}
                        </div>
                        <div class="profile-detail">
                            <h4>{{ portfolio.name }}</h4>
                            <h5>
                                {% for role in portfolio.role.all %}
                                    {{ role.name }}
                                {% endfor %}
                            </h5>
                        </div>
                        <div class="introduce">
                            <div class="intro-detail">
                                <h5>{{ portfolio.one_line }}</h5>
                                <table>
                                    <tbody>
                                        {% csrf_token %}
                                        {% for career in portfolio.careers.all|slice:":3" %}
                                            <tr>
                                                <td>{{ career.career_title }}</td>
                                                <td>{{ career.career_role }}</td>
                                                <td>{{ career.career_year }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <b>대표 작품</b>
                                <button class="detail" onclick="navigateToPortfolio({{ portfolio.id }})">상세 포트폴리오 ></button>
                            </div>
                            
                        </div>
                        
                        <div class="project">
                            {% if portfolio.videos.all %}
                                {% for video in portfolio.videos.all|slice:":3" %}
                                    <div class="project-detail">
                                        <div class="filmmark">
                                            <a href="{% url 'videos:video_detail' video.id %}">
                                                <video width="160" height="100">
                                                    <source src="{{ video.video.url }}" type="video/mp4">
                                                </video>
                    
                                            </a>
                                            
                                        </div>
                                        <h6>{{ video.title }}</h6>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="sidebar"></div>
    </div>
    
    <script>
        function navigateToPortfolio(portfolioId) {
            // 포트폴리오 ID를 사용하여 URL을 생성합니다.
            var portfolioUrl = "{% url 'portfolios:portfolio_detail' 0 %}".replace('0', portfolioId);
            window.location.href = portfolioUrl;
            console.log('버튼이 클릭되었습니다! 포트폴리오 ID:', portfolioId);
        }
    </script>
</body>
</html>